body {
    background: rgb(48,48,48) url("img/noise.png") repeat fixed;
}

.sitePreview {
    display: block;
    filter: none;
    height: 300px;
    margin: 0 auto;
    transition-duration: 0.7s;
    width: 400px;
}

.sitePreview:hover {
    filter: drop-shadow(2px 5px 10px rgb(0,173,238))
}

.protechs {
    background-image: url("../img/protechsPreview.jpg");
}