/*Common*/

body {
    background-color: #849d8f;
    font-family: "Roboto", Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}

img {
    height: auto;
    max-width: 100%;
}

input::-webkit-input-placeholder {
    color: #999;
    font-weight: 400;
}

input::-moz-placeholder {
    color: #999;
    font-weight: 400;
}

input:-ms-input-placeholder {
    color: #999;
    font-weight: 400;
}

input::placeholder {
    color: #999;
    font-weight: 400;
}

textarea::-webkit-input-placeholder {
    color: #999;
    font-weight: 400;
}

textarea::-moz-placeholder {
    color: #999;
    font-weight: 400;
}

textarea:-ms-input-placeholder {
    color: #999;
    font-weight: 400;
}

textarea::placeholder {
    color: #999;
    font-weight: 400;
}

.button {
    background: #ec593c;
    background: -webkit-linear-gradient(bottom, #e74a35 0%,#f26843 100%);
    background: linear-gradient(to top, #e74a35 0%,#f26843 100%);
    border-radius: 22px;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px 0px rgba(172,16,0,0.64); 
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto", Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 44px;
    min-height: 44px;
    padding: 0 20px;
    text-decoration: none;
}

.button:hover {
    background: -webkit-linear-gradient(bottom, #ec6e5d 0%,#f58669 100%);
    background: linear-gradient(to top, #ec6e5d 0%,#f58669 100%); 
    box-shadow: 0px 2px 2px 0px #ac1000;    
}

.button:active {
    background: -webkit-linear-gradient(top, #d74531 0%,#e1613e 100%);
    background: linear-gradient(to bottom, #d74531 0%,#e1613e 100%);
    box-shadow: 0px 2px 2px 0px #942718 inset;
}

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

.inlineblockFix {
    font-size: 0;
}

.link {
    border-bottom: 1px solid rgba(255,255,255,0.2);
    color: #fff;
    text-decoration: none;
}

.link:hover {
    border-bottom: 1px solid rgba(248,171,158,0.3);
    color: #ffbc9e;
    text-decoration: none;
}

.layoutCenter {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 900px;
}

.layoutColumn {
    box-sizing: border-box;
    float: left;
    margin: 0 1.1%;
    width: 22.2%;
}

.layoutColumn_doubleSize {
    padding: 0 20px;
    width: 46.6%;
}

.layoutColumn_quadSize {
    margin: 0 2.3%;
    width: 95.4%;
}

.layoutColumn img {
    height: auto;
    max-width: 100%;    
}

.layoutLeft {
    float: left;
}

.layoutRight {
    float: right;
    text-align: right;
}

.wrap {
    min-width: 900px;
}

.wrapCatalog {
    background-image: url(../img/catalog_bl.png);
    background-position: center top;
    background-repeat: repeat-x;
}


/*Header*/

.mainHeader .layoutCenter{
    color: #fff;
    position: relative;
}

.mainHeader .layoutLeft{
    margin-left: 1.8%;
}

.mainHeader .layoutRight{
    margin-right: 2.3%;
}

.logo {
    display: inline-block;
    height: 64px;
    padding-top: 9px;
    vertical-align: top;
}

.mainNav {
    display: inline-block;
    margin-top: 22px;
    vertical-align: top;
}

.mainNavList {
    padding-left: 15px;

}

.mainNavList li {  
    display: inline-block;
    position: relative;       
}

.mainNavLink {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin: 7px 14px 0 14px;
    position: relative;
    vertical-align: top;
    z-index: 1;
}

.mainNavLink:active {
    background-color: #ededed;
    box-shadow: 0px 2px 1px 0px #696969 inset;
}

.mainNavLink:hover {
    background-color: #f7f6f3;
    border: none;
    border-radius: 16px;
    color: #323232;
    margin: 0;
    padding: 7px 14px;
}

.mainNavLink:hover + .dropdownMenuWrap {
    display: block;
}

.mainNavLink.current {
    background-color: #d07058;
    border: none;
    border-radius: 16px;
    color: #fff;
    margin: 0;
    padding: 7px 14px;
}

.dropdownMenuWrap {
    cursor: default;
    display: none;
    left: -7px;
    position: absolute;
    top: 31px;
    z-index: 2;
}

.dropdownMenuWrap:hover {
    display: block;
}

.dropdownMenu { 
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4); 
    margin-top: 8px;
    min-width: 143px;
    padding: 0 0 7px 0;
}

.dropdownMenu li {
    display: block;  
}

.dropdownMenuCaption {
    border-bottom: 1px solid #d1d0ce;
    cursor: default;
    color: #323232;
    height: 37px;
    font-size: 14px;
    font-weight: 700;
    line-height: 33px;
    margin: 0 8px;
    padding-left: 12px;
}

.dropdownMenu a {
    border: none;
    color: #323232;
    font-size: 14px;
    font-weight: 400;
    display: block;
    height: 28px;
    line-height: 28px;
    margin-top: 3px;
    padding-left: 21px;
    padding-right: 10px;
    text-decoration: none;
}

.dropdownMenu a:hover {
    background-color: #fbded7;
}

.dropdownMenu a:active {
    background-color: #f6b5a5;
}

.dropdownMenu .current {
    border: none;
    background-color: #d07058;
    color: #fff;
}

.service {
    margin-top: 23px;
}

.service > div {
    background-color: rgba(255,255,255,0.2);
    border-radius: 16px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 32px;
    line-height: 32px;
    margin-left: 10px;
    position: relative;
    text-align: left;
    vertical-align: top;
}

.service > div:hover {
    background-color: #f7f6f3;
    color: #323232;
}

.service input {
    font-size: 14px;
    font-weight: 400;
}

.service input::-webkit-input-placeholder {
    font-size: 14px;
}

.service input::-moz-placeholder {
    font-size: 14px;
}

.service input:-ms-input-placeholder {
    font-size: 14px;
}

.service input::placeholder {
    font-size: 14px;
}

.search {
    height: 32px;
    width: 32px;
}

.search::before {
    background: url(../img/sprite.png) no-repeat 0 0;
    content: "";
    height: 17px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    width: 17px;
}

.search:hover::before {
    background-position: -22px 0;    
}

.login {
    min-width: 40px;
    padding-left: 45px;
    padding-right: 8px;
}

.login::before {
    background: url(../img/sprite.png) no-repeat -44px 0;
    content: "";
    height: 21px;
    left: 18px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 20px;
}

.login:hover::before {
    background-position: -70px 0;    
}

.cart {
    min-width: 65px;
    padding-left: 45px;
    padding-right: 7px;
}

.cart::before {
    background: url(../img/sprite.png) no-repeat -96px 0;
    content: "";
    height: 20px;
    left: 17px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 21px;
}

.cart:hover::before {
    background-position: -148px 0;    
}

.service .cartFilled {
    background-color: #f7f6f3;
    color: #323232;
}

.cartFilled::before {
    background-position: -122px 0;    
}

.cartFilled:hover::before {
    background-position: -122px 0;    
}

.searchFormWrap,
.loginFormWrap,
.cartDropdownWrap {
    display: none;
    position: absolute;
    z-index: 2;
}

.search:hover .searchFormWrap,
.login:hover .loginFormWrap,
.cart:hover .cartDropdownWrap,
.searchFormWrap:hover,
.loginFormWrap:hover,
.cartDropdownWrap:hover{
    display: block;
}

.searchFormWrap {
    right: -2px;
    top: 30px;
}

.searchForm {
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    margin-top: 7px;
    padding: 20px 15px;
}

.searchForm input {
    border: 1px solid rgba(178,178,178,0.52);
    border-radius: 4px; 
    height: 42px;
    padding: 0 15px;
    width: 312px;
}

.loginFormWrap {
    right: -2px;
    top: 30px;
}

.loginForm {
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    margin-top: 7px;
    padding: 20px 17px 20px 19px;
}

.loginForm input {
    border: 1px solid rgba(178,178,178,0.52);
    border-radius: 4px; 
    height: 40px;
    margin-bottom: 22px;
    padding: 0 13px;
    width: 212px;
}

.loginForm button {
    border: none;
    padding: 0 24px;
    vertical-align: top;
}

.loginFormLinks {
    display: inline-block;
    line-height: 18px;
    margin-left: 17px;
    margin-top: -1px;
    width: 120px;
    vertical-align: top;
}

.loginFormLinks a {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    color: #323232;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    max-width: 120px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
}

.loginFormLinks a:hover,
.loginFormLinks a:active {
    border-bottom: 1px solid rgba(236,89,60,0.3);
    color: #e84d37;
}

.searchFormSearchWrap,
.loginFormEmailWrap,
.loginFormPasswordWrap {
    position: relative;
}

.mainHeader input:hover{
    border: 2px solid #c7c6c5;   
}

.searchForm input:hover {
    padding: 0 14px;
} 

.loginForm input:hover {
    height: 38px; 
    padding: 0 12px;
} 

.mainHeader input:focus {
    border-color: #8fbdec;    
}

.mainHeader input + label {
    color: #999;
    display: none;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    left: 15px;
    position: absolute;
    top: -15px;
}

.mainHeader input:valid + label {
    display: block;
}

.mainHeader input:focus + label {
    color: #5b9ddf;
    display: block;
}

.cartDropdownWrap {
    right: 0;
    top: 30px;
}

.cartDropdown {
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    margin-top: 7px;
    padding: 17px 14px;
    text-align: right;
    width: 510px;
}

.cartItems {
    border-bottom: 1px solid #cacac7;
    margin-bottom: 13px;
    padding-bottom: 6px;
}

.cartItem {
    margin-bottom: 4px;
    text-align: left;
}

.cartItem div {
    color: #323232;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 10px;
    vertical-align: top;
}

.removeItem {
    border: none;
    background: url(../img/sprite.png) no-repeat -148px -118px;
    cursor: pointer;
    display: inline-block;
    height: 11px;
    margin-top: 12px;
    vertical-align: top;
    width: 11px;
}

.cartItemImage {
    margin-left: 15px;
    margin-right: 12px;
}

.cartItemName {
    margin-right: 26px;
    width: 220px;
}

.cartItemAmount {
    margin-right: 29px;
}

.cartItemPrice {
    color: #999;
}

.cartTotal {
    color: #333;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
}

.cartCheckout {
    margin-bottom: 5px;
    margin-top: 14px;
    padding: 0 15px;
}

.headerContacts {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    position: absolute;
    right: 2.3%;
    text-align: right;
    top:72px;
}

.headerContactsTel {
    display: block;
    font-size: 22px;
    line-height: 24px;
    margin-top: 5px;
}


/*Main*/

.breadcrumbs {
    margin: 25px 2.3% 0 2.3%;
    padding: 0;
}

.breadcrumbs li {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.breadcrumbs li:not(:last-of-type)::after {
    content: "»";
    margin-left: 4px;
    margin-right: 7px;
}

.pageCaption {
    color: #fff;
    margin: -4px 2.3% 50px 2.3%;
}

.filter {
    margin: 0 2.3%;  
}

.filterRow {
    margin-bottom: 39px;
}

.filterRow fieldset,
.filterRow button {
    background-color: rgba(255,255,255,0.2);
    border: none;
    border-radius: 16px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-family: "Roboto", Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    line-height: 36px;
    margin-left: 0;
    margin-right: 1.33%;
    padding: 0 1.42%;
    position: relative;
    text-align: left;
    vertical-align: top;
}

.filterRow legend {
    position: absolute;
    top: -33px;
}

.filterRow ul {
    padding: 0;
}

.filterRow li {
    display: inline-block;
    font-size: 14px;
}

.filterRow .filterSort {
    padding: 0;
}

.filterSort legend {
    left: 16px;
}

.filterSort select {
    color: #fff;
    border: none;
    border-radius: 18px;
    font-family: "Roboto", Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 500;    
    height: 36px;
    min-width: 190px; 
    padding: 0 11px;
    background-color: rgba(255,255,255,0.2);
}

.filterSort select:hover {
    color: #000;
    background-color: #fff;
}

.filterSort option {
    font-size: 14px; 
    font-weight: 400;
}

.filterRange {
    background-color: rgba(248,247,244,0.5);
    height: 4px;
    margin-top: 16px;
    width: 188px;
}

.filterRangeSelection {
    background-color: #f8f7f4;
    height: 4px;
    margin-left: 30px;
    position: relative;
    width: 98px;
}

.filterRangeSelection::before,
.filterRangeSelection::after {
    background-color: #f8f7f4;
    border-radius: 50%;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1); 
    content: "";
    cursor: pointer;
    height: 21px;
    margin-top: -11px;
    position: absolute;
    top: 50%;
    width: 21px;
}

.filterRangeSelection::before {
    left: -10px;
}

.filterRangeSelection::after {
    right: -10px;
}

.filterRow input {
    display: none;
}

.filterRow input + label {
    font-size: 16px;
    line-height: 18px;
    padding-left: 32px;
    position: relative;
}

.filterRow input + label::before {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    content: "";
    cursor: pointer;
    left: -1px;
    position: absolute;
    top: -1px;
}

.filterRow input:disabled + label::before {
    opacity: 0.4;    
}

.filterRow input[type="radio"] + label {
    margin-left: 17px;
}

.filterRow input[type="checkbox"] + label {
    margin-left: 21px;
}

.filterRow input[type="radio"] + label::before {
    background-position: 0 -25px;
    height: 22px;
    width: 21px;
}

.filterRow input[type="radio"]:checked + label::before {
    background-position: -26px -25px;
}

.filterRow input[type="radio"] + label:hover::before {
    background-position: -52px -25px;
}

.filterRow input[type="radio"]:checked + label:hover::before {
    background-position: -78px -25px;
}

.filterRow input[type="checkbox"] + label::before {
    background-position: -104px -25px;
    height: 20px;
    width: 20px;
}

.filterRow input[type="checkbox"]:checked + label::before {
    background-position: -129px -25px;
}

.filterRow input[type="checkbox"] + label:hover::before {
    background-position: -154px -25px;
}

.filterRow input[type="checkbox"]:checked + label:hover::before{
    background-position: -179px -25px;
}

.filterFatness li:first-of-type {
    margin-left: -17px;
}

.filterFillers li:first-of-type {
    margin-left: -21px;
}

.filterRow button {
    border: 2px solid #fcfcfc;
    cursor: pointer;
    font-size: 16px;
    line-height: 32px;
    margin-top: -1px;
    padding: 0 27px;
}

.filterRow button:hover {
    background-color: #fbfcfb;
    border: none;
    color: #323232;
    padding: 0 29px;
}

.filterRow button:active {
    background-color: #eaeaea;
    box-shadow: 0px 2px 1px 0px #696969 inset; 
    color: #323232;
}

.carousel {
    margin: 10px 2.3% 0 2.3%;
    position: relative;
}

.carouselContent {
    margin: 0 auto;
    width: 680px;
}

.carouselContent > div {
    display: none;
}

.carouselSlide {
    position: relative;
    width: 680px;
}

.carouselSlide img {
    display: block;
    height: 584px;
    margin: 0 auto;
    position: relative;
    width: 647px;
}

.carouselSlide h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    position: absolute;
    text-align: center;
    top:260px;
}

.carouselInput{
    display: none;
}

.carouselInput1:checked ~ .wrap .slide1,
.carouselInput2:checked ~ .wrap .slide2,
.carouselInput3:checked ~ .wrap .slide3 {
    display: block;
} 

.carouselInput1:checked ~ .wrap {
    background-color: #849d8f;
    background-image: url(../img/carousel_bl_1.png);
    background-position: center top;
    background-repeat: no-repeat;
}

.carouselInput2:checked ~ .wrap {
    background-color: #8996a6;
    background-image: url(../img/carousel_bl_2.png);
    background-position: center top;
    background-repeat: no-repeat;
}

.carouselInput3:checked ~ .wrap {
    background-color: #9d8b84;
    background-image: url(../img/carousel_bl_3.png);
    background-position: center top;
    background-repeat: no-repeat;
}

.carouselButtons {
    margin-bottom: 53px;
    margin-top: -104px;    
}

.carouselButtons label {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 17px;
    margin-right: 8px;
    width: 17px;    
}

.carouselButtons label:hover {
    background-color: rgba(255,255,255,0.4);
}

.carouselInput1:checked ~ .wrap label[for="btn1"],
.carouselInput2:checked ~ .wrap label[for="btn2"],
.carouselInput3:checked ~ .wrap label[for="btn3"] {
  background-color: #ffffff;
}

.carouselLink {
    border-radius: 32px;
    font-size: 32px;
    left: 50%;
    line-height: 64px;
    min-height: 64px;
    padding: 0 42px;
    position: absolute;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76); 
    top: 458px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.banners {
    margin-bottom: 40px;
}

.banners .layoutColumn:nth-child(1) {
    margin-left: 2.3%;
}

.banners .layoutColumn:nth-child(2n+1) {
    margin-left: 2.3%;
}

.banners .layoutColumn:nth-child(2n) {
    margin-right: 2.3%;
}

.banners .layoutColumn_doubleSize {
    color: #fff;
    min-height:229px;
    position: relative;
}

.banners h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    margin-bottom: 0;
    margin-top: 16px;
}

.banners p {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-top: 14px;   
}

.banners a {
    bottom: 24px;
    position: absolute;
    right: 20px;
}

.bannerLeft {
    background: #740213 url(../img/banner_bg_1.jpg) repeat right;
    border-radius: 12px;
}

.bannerRight {
    background: #532e17 url(../img/banner_bg_2.jpg) repeat right;
    border-radius: 12px;
}

.itemHits {
    margin-bottom: -2px;
}

.itemHits .layoutColumn,
.goods .layoutColumn {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.itemHits.inlineblockFix,
.goods.inlineblockFix {
    line-height: 1.15;
}

.itemHits .layoutColumn:nth-child(1) {
    margin-left: 2.3%;
}

.itemHits .layoutColumn:nth-child(4n+1) {
    margin-left: 2.3%;
}

.itemHits .layoutColumn:nth-child(4n) {
    margin-right: 2.3%;
}

.itemHits .goodsItem::after {
    background: url(../img/sprite.png) no-repeat 0 -52px;
    content: "";
    height: 61px;
    left: 0;
    position: absolute;
    top: 0;
    width: 61px;
    z-index: 3;    
}

.goods .layoutColumn:nth-child(1) {
    margin-left: 2.3%;
}

.goods .layoutColumn:nth-child(4n+1) {
    margin-left: 2.3%;
}

.goods .layoutColumn:nth-child(4n) {
    margin-right: 2.3%;
}

.goodsItem {
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
}

.goodsItemImageWrap {
    margin-bottom: 12px;
    position: relative;
}

.goodsItemCaption {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;    
}

.goodsItemPrice {
    font-size: 45px;
    font-weight: 700;
    left: 0;
    line-height: 45px;
    position: absolute;
    text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5); 
    top: 77.9%;
}

.goodsItemPrice span {
    font-size: 30px;
    padding-left: 34px;
    position: relative;
}

.goodsItemPrice span::before {
    background: url(../img/sprite.png) no-repeat -199px -114px;
    bottom: 4px;
    content: "";
    height: 36px;
    left: 2px;
    position: absolute;
    width: 31px;
}

.goodsItemOverlay {
    background-color: rgba(248,247,244,0.3);
    border-radius: 4px;
    bottom: -75px;
    display: none;
    left: -4.43%;
    position: absolute;
    right: -4.43%;
    top: -6px;
    z-index: 1;
}

.goodsItemOverlay a {
    bottom: 20px;
    left: 50%;
    max-width: 95%; 
    overflow: hidden;
    padding: 0 15px;
    position: absolute;
    text-overflow: ellipsis;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.goodsItem:hover .goodsItemImage,
.goodsItem:hover .goodsItemCaption {
    position: relative;
    z-index: 2;
}

.goodsItem:hover .goodsItemPrice {
   z-index: 2; 
}

.goodsItem:hover .goodsItemOverlay {
    display: block;
}

.aboutUs {
    color: #323232;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
}

.aboutUs::before {
    background: #eee3cb url(../img/waffle_pattern.jpg) repeat center;
    bottom: 0;
    border-radius: 12px;
    content: "";
    left: 2.3%;
    right: 2.3%;
    position: absolute;
    top: 0;

}

.aboutUs h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    margin: 0 2.3%;
    padding: 23px 120px 0 20px;
    position: relative;
    text-align: justify;
    z-index: 1;
}

.aboutUs .aboutUsLeft,
.aboutUs .aboutUsRight {
    box-sizing: border-box;
    float: left;
    margin: 6px 1.1% 2px 1.1%;
    width: 46.6%;
}

.aboutUs .aboutUsLeft {
    margin-left: 2.3%;
    padding-left: 77px;
}

.aboutUs .aboutUsRight {
    margin-right: 2.3%;
    padding-left: 58px;
    padding-right: 20px;
}

.aboutUsItem {
    margin-bottom: 22px;
    position: relative;
}

.aboutUsItem::before {
    background: url(../img/sprite.png) no-repeat;
    content: "";
    left: -58px;
    height: 49px;
    position: absolute;
    top: -11px;
    width: 49px;
}

.aboutUsItem_manufacturing::before {
    background-position: -66px -52px;
}

.aboutUsItem_raws::before {
    background-position: -173px -52px;
}

.aboutUsItem_purchase::before {
    background-position: -120px -52px;
} 

.aboutUsItem_delivery::before {
    background-position: -227px -52px;
}

.blog {
    margin-bottom: 40px;
}

.blog .layoutColumn:nth-child(1) {
    margin-left: 2.3%;
}

.blog .layoutColumn:nth-child(2n+1) {
    margin-left: 2.3%;
}

.blog .layoutColumn:nth-child(2n) {
  margin-right: 2.3%;
}

.blog .layoutColumn_doubleSize {
    border-radius: 12px;
    min-height:220px;
}

.blogLatest {
    background: #fff url(../img/blog_entry_bg.jpg) no-repeat right;
    color: #323232;
}

.blogLatest h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 5px;
    margin-top: 24px;
}

.blogLatestLinkWrap {
    max-width: 295px;    
}

.blogLatest a {
    background-color: rgba(255,255,255,0.8);
    border-bottom: 2px solid #323232; 
    color: #323232;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    text-decoration: none;
}

.blogSubscribe {
    background: -webkit-repeating-linear-gradient(315deg,#ffffff,#ffffff 7px,#92cdff 7px,#92cdff 14px,#ffffff 14px,#ffffff 21px,#fe9e90 21px,#fe9e90 28px);
    background: repeating-linear-gradient(135deg,#ffffff,#ffffff 7px,#92cdff 7px,#92cdff 14px,#ffffff 14px,#ffffff 21px,#fe9e90 21px,#fe9e90 28px);
    padding: 5px;
}

.subscribeForm {
    background-color: #f8f7f4;
    border-radius: 8px;
    min-height: 210px;
    padding: 1px 15px 0 23px;
}

.subscribeForm p {
    color: #5a5a5a;
    margin-top: 28px;
    margin-bottom: 0;
    min-height: 103px;
}

.subscribeFormEmailWrap {
    display: inline-block;
    margin-right: 3px;
    position: relative;
    vertical-align: top;
    width: calc(100% - 143px);
}

.subscribeForm input {
    border: 1px solid rgba(178,178,178,0.52);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px; 
    height: 44px;
    padding: 0 15px;
    width: 100%;
}

.subscribeForm input:hover{
    border: 2px solid #c7c6c5;
    height: 44px; 
    padding: 0 14px;   
}

.subscribeForm input:focus {
    border-color: #8fbdec;    
}

.subscribeForm input + label {
    color: #999;
    display: none;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    left: 15px;
    position: absolute;
    top: -15px;
}

.subscribeForm input:valid + label {
    display: block;
}

.subscribeForm input:focus + label {
    color: #5b9ddf;
    display: block;
}

.subscribeForm button {
    border: 0;
}

.map {
    background-image: url(../img/map_4k.jpg);
    background-position: center;
    height: 430px;
    text-align: right;
    position: relative;
}

.map > ymaps {
    position: absolute;
    top: 0;
}

.mapContacts {
    background-color: #fefefe;
    border-radius: 12px;
    box-sizing: border-box;
    color: #323232;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin: 62px 2.3% 62px 0;
    min-height: 305px;
    padding: 13px 25px 0 25px;
    position: relative;
    vertical-align: top;
    width: 300px;
    z-index: 1;
}

.mapContacts strong {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.mapContacts a {
    margin-top: 10px;
    padding: 0 26px;
}

.mapContactsAdress {
    margin-bottom: 19px;
    margin-top: 16px;
}

.mapContactsTel strong {
    margin-bottom: 2px;
    margin-top: 4px;
}

.pageNavigator {
    border-bottom: 1px solid rgba(255,255,255,0.2);
    margin-top: 40px;
    padding-bottom: 26px;
    text-align: right;
}

.pageNavigatorList {
    display: inline-block;
    padding: 0 22px;
    position: relative;
    text-align: center;
}

.pageNavigatorList::before,
.pageNavigatorList::after {
    background: url(../img/sprite.png) no-repeat -184px -118px;
    content: "";
    height: 14px;
    position: absolute;
    top: 6px;
    width: 9px;
}

.pageNavigatorList::before {
    left: 0;
    opacity: 0.2;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

.pageNavigatorList::after {
    right: 0;
}

.pageNavigatorList li {
    display: inline-block;
    height: 26px;
    width: 26px;
}

.pageNavigatorList li{  
    border-radius: 50%;
    margin: 0 2px;
}

.pageNavigatorList li:hover{
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;    
}

.pageNavigatorList a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
}

.currentPage {
    background-color: #fff;
}

.currentPage a {
    color: #323232;
}


/*Footer*/

.mainFooter .layoutColumn:first-of-type {
  margin-left: 2.3%;
}

.mainFooter .layoutColumn:last-of-type {
  margin-right: 2.3%;
}

.socialButtons ul {
    font-size: 0;
    margin-bottom: 30px;
    margin-top: 36px;
    padding: 0;
}

.socialButtons li {
    border: 3px solid rgba(255,255,255,0.5);
    border-radius: 50%;
    display: inline-block;
    height: 32px;
    margin-right: 11px;
    vertical-align: top;
    width: 32px;
}

.socialButtons li:hover {
    border-color: rgba(255,255,255,0.7)
}

.socialButtons a{
    background: url(../img/sprite.png) no-repeat;
    border-radius: 50%;
    display: block;
    opacity: 0.8;
    height: 32px;
    width: 32px;
}

.socialButtons a:hover {
    opacity: 1;
}

.socialButtons a:active {
    box-shadow: 0px 2px 1px 0px #888 inset;
    opacity: 0.8;
}

.socialButtons .tw {
    background-position: 0 -118px;
}

.socialButtons .ig {
    background-position: -37px -118px;
}

.socialButtons .fb {
    background-position: -74px -118px;
}

.socialButtons .vk {
    background-position: -111px -118px;
}

.footerLinks {
    margin-top: 33px;
    text-align: center;
}

.footerLinksCol {
    display: inline-block;
    line-height: 14px;
    text-align: left;
    vertical-align: top;
}

.footerLinksColLeft {
    margin-right: 30px;
}

.footerLinksCol a {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

.footerLinksCol .highlited {
    font-weight: 700;
    position: relative;
}

.footerLinksCol .highlited::before {
    background: url(../img/sprite.png) no-repeat -164px -118px;
    content: "";
    height: 13px;
    left: -22px;
    position: absolute;
    top: 2px;
    width: 15px;
}

.madeInWrap {
    margin-top: 18px;
    text-align: right;
}

.madeIn {
    color: #fefefe;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
}

.madeIn a {
    color: #fefefe;
}


/*Other*/

.feedback {
    background-color: rgba(0,0,0,0.3);
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    z-index: -1;

}

.feedbackForm {
    background-color: #f8f7f4;
    border-radius: 10px;
    height: 413px;
    left: 50%;
    margin-left: -237px;
    padding: 15px 24px;
    position: absolute;
    top: 100%; 
    -webkit-transition: top 0.6s ease; 
    transition: top 0.6s ease;
    width: 429px;
}

.feedbackClose {
    background: url(../img/sprite.png) no-repeat -147px -133px;
    border: none;
    cursor: pointer;
    height: 17px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 18px;
}

.feedbackForm h2 {
    margin-bottom: 18px;
    margin-top: 0;
}

.feedbackForm form {
    text-align: right;
}

.feedbackNameWrap,
.feedbackEmailWrap,
.feedbackMessageWrap {
    position: relative;
}

.feedbackForm input,
.feedbackForm textarea {
    border: 1px solid #d3d3d2;
    border-radius: 4px;
    display: block;
    font-family: "Roboto", Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
    padding: 0 15px;
}

.feedbackForm input {
    height: 42px;
    line-height: 42px;
    width: 235px;
}

.feedbackForm textarea {
    resize: none;
    height: 133px;
    padding: 10px 15px;
    width: 396px;
}

.feedbackForm input:hover, 
.feedbackForm textarea:hover {
    border: 2px solid #c7c6c5;   
}

.feedbackForm input:hover {
    height: 40px; 
    padding: 0 14px;
} 

.feedbackForm textarea:hover {
    height: 133px;
    padding: 9px 14px;
}

.feedbackForm input:focus, 
.feedbackForm textarea:focus {
    border-color: #8fbdec;    
}

.feedbackForm input + label,
.feedbackForm textarea + label {
    color: #999;
    display: none;
    font-size: 11px;
    line-height: 13px;
    left: 15px;
    position: absolute;
    top: -15px;
}

.feedbackForm input:valid + label,
.feedbackForm textarea:valid + label {
    display: block;
}

.feedbackForm input:focus + label,
.feedbackForm textarea:focus + label {
    color: #5b9ddf;
    display: block;
}

.feedbackSubmit {
    border: none;
    margin-top: 4px;
    padding: 0 24px;
}

.feedbackShow {
    visibility: visible;
    z-index: 20;    
}

.feedbackShow .feedbackForm{
    top: 338px;
}
