@charset "UTF-8";
.wrapper--blackfriday {
  background-color: #0b0b0b;
  max-width: 100%;
  width: 100%; }
  .wrapper--blackfriday .middle {
    background-image: url("../i/blackfriday_bg.jpg");
    background-position: center top;
    max-width: 1920px;
    min-width: 320px;
    padding: 0;
    width: 100%; }
  .wrapper--blackfriday .middle__body {
    margin: 0 auto;
    max-width: 1080px;
    padding: 110px 40px 60px 40px; }
  .wrapper--blackfriday .content {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0; }

.blackfriday-about {
  width: 50%; }

.blackfriday-about__heading {
  font-family: ObiSansMLBold, Arial, sans-serif;
  font-size: 54px;
  font-weight: normal;
  letter-spacing: -0.015em;
  line-height: 54px;
  margin: 0;
  text-transform: uppercase; }

.blackfriday-about__text {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 25px;
  height: 170px;
  margin-left: 6px;
  max-width: 450px; }

.blackfriday-about__form {
  margin-left: 5px;
  width: 81%; }
  .blackfriday-about__form .blackfriday-about__form-submit-ok-text {
    display: none; }
  .blackfriday-about__form--submit-ok {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 297px; }
    .blackfriday-about__form--submit-ok .blackfriday-about__input-label-pair,
    .blackfriday-about__form--submit-ok .blackfriday-about__form-submit {
      display: none; }
    .blackfriday-about__form--submit-ok .blackfriday-about__form-submit-ok-text {
      display: block; }

.blackfriday-about__input-label-pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .blackfriday-about__input-label-pair--email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 25px; }

.blackfriday-about__label-email {
  font-family: Open Sans, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 17px; }

.blackfriday-about__input-email {
  border-radius: 4px;
  border: none;
  height: 53px;
  font-size: 18px;
  line-height: 53px;
  margin-top: 27px;
  overflow: hidden;
  outline: none;
  padding: 0 15px;
  text-overflow: ellipsis; }

.blackfriday-about__input-checkbox {
  display: none; }

.blackfriday-about__label-checkbox {
  color: rgba(255, 255, 255, 0.5);
  font-family: Open Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 17px;
  min-height: 90px;
  padding-bottom: 20px; }

.blackfriday-about__input-checkbox + .blackfriday-about__label-checkbox {
  padding-left: 40px;
  position: relative; }
  .blackfriday-about__input-checkbox + .blackfriday-about__label-checkbox::after {
    background-color: #fff;
    border-radius: 2px;
    color: transparent;
    content: "✓";
    cursor: pointer;
    font-family: ObiSansMLBold, Arial, sans-serif;
    font-weight: normal;
    font-size: 22px;
    height: 21px;
    left: 0;
    line-height: 21px;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 21px; }

.blackfriday-about__input-checkbox:checked + .blackfriday-about__label-checkbox::after {
  color: #000; }

.blackfriday-about__form-submit {
  background-color: #ffee02;
  border-radius: 4px;
  border: none;
  color: #000;
  cursor: pointer;
  font-family: ObiSansMLBold, Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  height: 53px;
  letter-spacing: -0.01em;
  line-height: 53px;
  margin-bottom: 10px;
  outline: none;
  text-align: center;
  width: 100%; }

.blackfriday-about__form-submit-ok-text {
  font-family: Open Sans, Arial, sans-serif;
  font-size: 19px;
  height: 135px;
  line-height: 24px;
  margin: 0;
  padding-left: 103px;
  position: relative; }
  .blackfriday-about__form-submit-ok-text::after {
    color: #02f800;
    content: "✓";
    font-family: ObiSansMLBold, Arial, sans-serif;
    font-weight: normal;
    font-size: 105px;
    left: -15px;
    position: absolute;
    text-align: center;
    top: 36px;
    width: 100px; }

.blackfriday-obigroup-popup {
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  display: none;
  left: 25px;
  padding: 8px;
  position: absolute;
  top: 22px; }

.blackfriday-obigroup-popup-trigger:hover + .blackfriday-obigroup-popup {
  display: block; }

.blackfriday-counter {
  -ms-flex-item-align: end;
      align-self: flex-end;
  min-width: 320px;
  width: 50%; }

.blackfriday-counter__heading {
  font-family: Open Sans, Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 17px;
  margin: 0 0 30px 7px;
  text-align: center; }

.blackfriday-counter__clock {
  margin-left: 18px;
  margin-bottom: 37px; }

@media only screen and (max-width: 1023px), only screen and (max-device-width: 1023px) {
  .wrapper--blackfriday .middle__body {
    padding: 110px 20px 60px 20px; } }

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .wrapper--blackfriday .middle {
    background-position-x: left; }
  .wrapper--blackfriday .middle__body {
    padding: 110px 10px 60px 10px; }
  .wrapper--blackfriday .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .blackfriday-about {
    width: 100%; }
  .blackfriday-about__form {
    margin: 0;
    width: 100%; }
  .blackfriday-counter {
    width: 100%; } }
