@charset "UTF-8";


@font-face {
    font-family: ObiSansMLBold;
    src: url(f/fonts/ObiSans/Bold/ObiSansMLBold.eot);
    src: url(f/fonts/ObiSans/Bold/ObiSansMLBold.eot?#iefix) format("embedded-opentype"), url(f/fonts/ObiSans/Bold/ObiSansMLBold.woff2) format("woff2"), url(f/fonts/ObiSans/Bold/ObiSansMLBold.woff) format("woff"), url(f/fonts/ObiSans/Bold/ObiSansMLBold.ttf) format("truetype"), url(f/fonts/ObiSans/Bold/ObiSansMLBold.svg#ObiSansMLBold) format("svg")
}

@font-face {
    font-family: ObiSansMLBlack;
    src: url(f/fonts/ObiSans/Black/ObiSansMLBlack.eot);
    src: url(f/fonts/ObiSans/Black/ObiSansMLBlack.eot?#iefix) format("embedded-opentype"), url(f/fonts/ObiSans/Black/ObiSansMLBlack.woff2) format("woff2"), url(f/fonts/ObiSans/Black/ObiSansMLBlack.woff) format("woff"), url(f/fonts/ObiSans/Black/ObiSansMLBlack.ttf) format("truetype"), url(f/fonts/ObiSans/Black/ObiSansMLBlack.svg#ObiSansMLBlack) format("svg")
}

@font-face {
    font-family: OpenSansRegular;
    font-weight: 400;
    font-style: normal;
    src: url(f/fonts/OpenSans/Regular/OpenSans-Regular.eot?v=1.1.0);
    src: url(f/fonts/OpenSans/Regular/OpenSans-Regular.eot?#iefix&v=1.1.0) format("embedded-opentype"), url(f/fonts/OpenSans/Regular/OpenSans-Regular.woff2?v=1.1.0) format("woff2"), url(f/fonts/OpenSans/Regular/OpenSans-Regular.woff?v=1.1.0) format("woff"), url(f/fonts/OpenSans/Regular/OpenSans-Regular.ttf?v=1.1.0) format("truetype"), url(f/fonts/OpenSans/Regular/OpenSans-Regular.svg?v=1.1.0#Regular) format("svg")
}

@font-face {
    font-family: OpenSansBold;
    font-weight: 700;
    font-style: normal;
    src: url(f/fonts/OpenSans/Bold/OpenSans-Bold.eot?v=1.1.0);
    src: url(f/fonts/OpenSans/Bold/OpenSans-Bold.eot?#iefix&v=1.1.0) format("embedded-opentype"), url(f/fonts/OpenSans/Bold/OpenSans-Bold.woff2?v=1.1.0) format("woff2"), url(f/fonts/OpenSans/Bold/OpenSans-Bold.woff?v=1.1.0) format("woff"), url(f/fonts/OpenSans/Bold/OpenSans-Bold.ttf?v=1.1.0) format("truetype"), url(f/fonts/OpenSans/Bold/OpenSans-Bold.svg?v=1.1.0#Bold) format("svg")
}







html, body
{
	background: #fff;
	height: 100%;
	position: relative;
}

.at *, .at *:before, .at *:after, html, body
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-text-size-adjust: none;
}

.at_noselect
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.at_orange
{
	color: #ff7313;	
}

.at img
{
	display: block;
}

.at a
{
	text-decoration: none;
}





.at
{
	color: #000;
	/*position: relative;
	height: 100%;*/
}

.at h1
{
	color: #fff;
	font: 43px/1.0em Georgia, serif;
	font-style: italic;
	border: 2px dotted #fff;
	border-left: none;
	border-right: none;
	display: block;
	padding: 1.5% 0;
	margin-bottom: 0;
}

.at h2
{
	color: #fff;
	font: 45px/1.11em Georgia, serif;
	font-style: italic;
	border: 2px dotted #fff;
	border-left: none;
	border-right: none;
	display: inline-block;
	padding: 1.5% 0;
	margin-bottom: 0;
}

.at h2.at_black
{
	color: #000;
	border-color: #000;
}


.at .at_venzel_btn
{
	font: 400 18px/37px ObiSansMLBold;
	position: relative;
	display: inline-block;
	cursor: pointer;
	height: 40px;
	border-radius: 20px;
	border: 2px solid #000;
	background: #fff;
	z-index: 1;
	color: #cdcdcd;
}

.at .at_venzel_btn:before
{
	content: "";
	position: absolute;
	display: block;
	width: calc(100% - 4px);
	height: 32px;
	border-radius: 16px;
	border: 1px solid #cdcdcd;
	top: 2px;
	left: 2px;
}

.at .at_venzel_btn span
{
	display: inline-block;
	position: relative;
	padding: 0 35px;
	height: 100%;
	color:#000;
}

.at .at_venzel_btn span:before,
.at .at_venzel_btn span:after
{
	content: "";
	position: absolute;
	height: 32px;
	width: 25px;
	background: url(i/btn-venzel-left.png) no-repeat;
	border-radius: 16px 0 0 16px;
	left: 2px;
	top: 2px;
}

.at .at_venzel_btn span:after
{
	background: url(i/btn-venzel-right.png) no-repeat;
	left: auto;
	right: 2px;
	top: 2px;
}





.at .at_gray_btn
{
	display: block;
	cursor: pointer;
	width: 40px;
	height: 40px;
	border-radius: 2px;
	background: rgba(0,0,0,0.6);
	z-index: 5;
}

.at .at_gray_btn:before
{
	content: "";
	position: absolute;
	display: block;
	width: 10px;
	height: 10px;
	border: 1px solid #fff;
	border-right: none;
	border-bottom: none;
}

.at.at_desktop .at_gray_btn:hover
{
	opacity: 0.8;	
}

.at .at_left_btn{ position: absolute; left: 0; top: 50%; height: 60px; width: 60px; border-radius: 0 2px 2px 0;}
.at .at_right_btn{ position: absolute; right: 0; top: 50%; height: 60px; width: 60px; border-radius: 2px 0 0 2px;}
.at .at_up_btn{ position: fixed; right: 30px; bottom: 30px; }

.at .at_left_btn:before,
.at .at_right_btn:before {
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-right: none;
	border-bottom: none;
	border-radius: 1px;
}

.at .at_left_btn:before{ transform: rotate(-45deg); top: 22px; left: 22px; }
.at .at_right_btn:before{ transform: rotate(135deg); top: 22px; right: 22px; }
.at .at_up_btn:before{ transform: rotate(45deg); top: 17px; left: 15px; }




.at .at_down_btn {
	align-items: center;
	display: flex;
	flex-direction: column-reverse;
	position: absolute;
	cursor: pointer;
	z-index: 5;
	left: 50%;
	transform: translateX(-50%);
	bottom: 80px;
	width: 100px;
	height: 90px;
}

.at .at_down_btn::before {
	bottom: 50px;
	color: #fff;
	content: "Смотреть коллекцию";
	font: 400 18px/20px ObiSansMLBold;
	height: 40px;
	left: 50%;
	letter-spacing: -0.015em;
	text-align: center;
	transform: translateX(-50%);
	position: absolute;
	width: 100px;
}


.at .at_down_btn_arrow
{
	position: relative;
	display: block;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	background: #fff;
	border: 2px solid #000;

}

.at .at_down_btn_arrow:before
{
	content: "";
	position: absolute;
	display: block;
	width: 11px;
	height: 11px;
	border: 1px solid #000;
	border-right: none;
	border-bottom: none;
	transform: rotate(225deg); top: 9px; left: 11px;
}

.at .at_down_btn_arrow:after
{
	content: "";
	position: absolute;
	display: block;
	width: 28px;
	height: 28px;
	border: 1px solid #cecece;
	border-radius: 50%;
	top: 3px;
	left: 3px;
}

.at.at_desktop .at_down_btn_arrow:hover
{
	background: #fafafa;
}

.at .at_down_btn_wrap::before {
	bottom: 130px;
	color: #fff;
	content: "Смотреть коллекцию";
	font: 400 18px/20px ObiSansMLBold;
	height: 40px;
	left: 50%;
	letter-spacing: -0.015em;
	text-align: center;
	transform: translateX(-50%);
	position: absolute;
	width: 100px;
	z-index: 5;
}







.at .at_disable
{
	opacity: 0;
	pointer-events: none;
}

.at .at_current
{
	cursor: default;
	pointer-events: none;
}











.at .at_header
{
	font-size: 0;
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	min-height: 600px;
}

.at .at_header_section
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}

.at .at_header_section.at_1/* current section: 1 */
{
	display: inherit;
}

.at .at_header_section.at_1 .at_header_pl,  .at .at_menu li.at_1, .at .at_header_section.at_1 .at_header_point div, .at .at_header_section.at_1 .at_header_point div:before{ background-color: #ce0e12; }
.at .at_header_section.at_2 .at_header_pl,  .at .at_menu li.at_2, .at .at_header_section.at_2 .at_header_point div, .at .at_header_section.at_2 .at_header_point div:before{ background-color: #288c20; }
.at .at_header_section.at_3 .at_header_pl,  .at .at_menu li.at_3, .at .at_header_section.at_3 .at_header_point div, .at .at_header_section.at_3 .at_header_point div:before{ background-color: #516269; }
.at .at_header_section.at_4 .at_header_pl,  .at .at_menu li.at_4, .at .at_header_section.at_4 .at_header_point div, .at .at_header_section.at_4 .at_header_point div:before{ background-color: #3e89dd; }
.at .at_header_section.at_5 .at_header_pl,  .at .at_menu li.at_5, .at .at_header_section.at_5 .at_header_point div, .at .at_header_section.at_5 .at_header_point div:before{ background-color: #c759c1; }
.at .at_header_section.at_6 .at_header_pl,  .at .at_menu li.at_6, .at .at_header_section.at_6 .at_header_point div, .at .at_header_section.at_6 .at_header_point div:before{ background-color: #242b8a; }
.at .at_header_section.at_7 .at_header_pl,  .at .at_menu li.at_7, .at .at_header_section.at_7 .at_header_point div, .at .at_header_section.at_7 .at_header_point div:before{ background-color: #c8a962; }

.at .at_header_pl
{
	background-image:url(i/header-pl-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 440px;
	height: 100%;
	padding: 100px 50px 50px;
}

.at .at_book_bg
{
	height: 380px;
	bottom: 50px;
	left: 0;
	position: absolute;
	/*pointer-events: none;*/
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: cover;
	cursor: pointer;
}

@media screen and (max-height: 780px)
{
	.at .at_book_bg{ bottom: auto; top: 350px; }
}

.at .at_header_section.at_1 .at_book_bg{ background-image: url(i/books/bg-1.png) }
.at .at_header_section.at_2 .at_book_bg{ background-image: url(i/books/bg-2.png) }
.at .at_header_section.at_3 .at_book_bg{ background-image: url(i/books/bg-3.png) }
.at .at_header_section.at_4 .at_book_bg{ background-image: url(i/books/bg-4.png) }
.at .at_header_section.at_5 .at_book_bg{ background-image: url(i/books/bg-5.png) }
.at .at_header_section.at_6 .at_book_bg{ background-image: url(i/books/bg-6.png) }
.at .at_header_section.at_7 .at_book_bg{ background-image: url(i/books/bg-7.png) }

.at .at_header_pl p
{
	margin-top: 15px;
	max-width: 550px;
	font: 17px/1.35em Georgia, serif;
	color: #fff;
}

.at .at_header_bg
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 50px;
	left: 440px;	
	background-color: #000;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.at .at_header_bg:after
{
	display: block;
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;	
	width: 100%;
	height: 160px;
	background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.0));
	opacity: 0.7;
}

.at .at_header_section.at_1 .at_header_bg{ background-image: url(i/headers/bg-1.jpg) }
.at .at_header_section.at_2 .at_header_bg{ background-image: url(i/headers/bg-2.jpg) }
.at .at_header_section.at_3 .at_header_bg{ background-image: url(i/headers/bg-3.jpg) }
.at .at_header_section.at_4 .at_header_bg{ background-image: url(i/headers/bg-4.jpg) }
.at .at_header_section.at_5 .at_header_bg{ background-image: url(i/headers/bg-5.jpg) }
.at .at_header_section.at_6 .at_header_bg{ background-image: url(i/headers/bg-6.jpg) }
.at .at_header_section.at_7 .at_header_bg{ background-image: url(i/headers/bg-7.jpg) }

.at .at_header_points
{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
}

.at .at_header_point
{
	position: absolute;
	cursor: pointer;
}

.at .at_header_point:before,
.at .at_header_point:after
{
	content: "";
	display: block;
	width: 57px;
	height: 57px;
	left: -28px;
	top: -28px;
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.at .at_header_section.at_1 .at_header_point:before{ background-image: url(i/star1.png); }
.at .at_header_section.at_1 .at_header_point:after{ background-image: url(i/star-over1.png); opacity: 0; }
.at .at_header_section.at_2 .at_header_point:before{ background-image: url(i/star2.png); }
.at .at_header_section.at_2 .at_header_point:after{ background-image: url(i/star-over2.png); opacity: 0; }
.at .at_header_section.at_3 .at_header_point:before{ background-image: url(i/star3.png); }
.at .at_header_section.at_3 .at_header_point:after{ background-image: url(i/star-over3.png); opacity: 0; }
.at .at_header_section.at_4 .at_header_point:before{ background-image: url(i/star4.png); }
.at .at_header_section.at_4 .at_header_point:after{ background-image: url(i/star-over4.png); opacity: 0; }
.at .at_header_section.at_5 .at_header_point:before{ background-image: url(i/star5.png); }
.at .at_header_section.at_5 .at_header_point:after{ background-image: url(i/star-over5.png); opacity: 0; }
.at .at_header_section.at_6 .at_header_point:before{ background-image: url(i/star6.png); }
.at .at_header_section.at_6 .at_header_point:after{ background-image: url(i/star-over6.png); opacity: 0; }
.at .at_header_section.at_7 .at_header_point:before{ background-image: url(i/star7.png); }
.at .at_header_section.at_7 .at_header_point:after{ background-image: url(i/star-over7.png); opacity: 0; }

.at.at_desktop .at_header_point:hover:after { opacity: 1; }

.at .at_header_point div
{
	position: absolute;
	display: none;
	font: 400 13px/1.23em Arial, OpenSansRegular;
	padding: 10px 10px;
	top: 0;
	left: 0;
	width: 160px;
	color: #fff;
	z-index: 5;
}

.at .at_header_point.at_opened div { display: inherit; }

.at .at_header_point div.at_top{ top: 35px; left: -80px; }
.at .at_header_point div.at_right{ top: -25px; left: 35px; }
.at .at_header_point div.at_left{ top: -25px; left: -195px; }

.at .at_header_point div.at_top:before{ top: 0; left: 50%; }
.at .at_header_point div.at_right:before{ top: 50%; left: 0; }
.at .at_header_point div.at_left:before{ top: 50%; left: 100%; }

.at .at_header_point div:before
{
	position: absolute;
	display: block;
	content: "";
	width: 14px;
	height: 14px;
	margin-left: -7px;
	margin-top: -7px;
	transform: rotate(45deg);
}

.at .at_header .at_venzel_btn
{
	margin-top: 15px;
}






.at .at_download_btn
{
	font: 17px/1.35em Georgia, serif;
	position: relative;
	display: inline-block;
	cursor: pointer;
	color: #fff;
	margin-top: 15px;
	z-index: 1;
}

.at .at_download_btn:before
{
	content: "";
	display: inline-block;
	position: relative;
	height: 12px;
	width: 12px;
	margin-right: 8px;
	background: url(i/btn-download.png) no-repeat;
	background-size: cover;
}






.at .at_menu
{
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: 0;
	left: 0;
	z-index: 5;
}

.at .at_menu ul
{
	list-style-type: none;
	position: absolute;
}

.at .at_menu li
{
	font: 400 18px/50px ObiSansMLBold;
	color: #fff;
	display: inline-block;
	position: relative;
	cursor: pointer;
	white-space: nowrap;
}

.at .at_menu li:before
{
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
	opacity: 0.0;
}

.at.at_desktop .at_menu li:hover:before
{
	opacity: 0.2;
}

.at .at_menu_horizontal
{
	width: 100%;
	height: 50px;
	bottom: 0;
}

.at .at_menu_horizontal li
{
	width: calc(100% / 7);
	height: 100%;
	text-align: center;
}











.at .at_catalog
{
	font-size: 0;
	position: relative;
	overflow: hidden;
}

.at_catalog_section
{
	display: none;
}

.at_catalog_section.at_1/* current section: 1 */
{
	display: inherit;
}

.at .at_catalog_group
{
	display: inline-block;
}

.at .at_catalog_piece
{
	font-size: 0;
	display: inline-block;
	position: relative;
}

.at .at_catalog_piece.at_product
{
	cursor: pointer;
}

.at .at_catalog_piece.at_category_link
{
	cursor: pointer;
}

.at .at_catalog_piece.at_category a
{
	cursor: pointer;
	z-index: 3;
}

.at .at_catalog_piece:after
{
	content: "";
	display: block;
	position: absolute;
	border: 1px solid rgba(0,0,0,0.1);
	border-top: none;
	border-left: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.at .at_catalog_piece.at_product:before
{
	content: "";
	display: block;
	position: absolute;
	border: 2px solid #ff7f08;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 2;
}

.at .at_catalog_piece.at_product.at_selected:before
{
	opacity: 1;
}

.at.at_desktop .at_catalog_piece.at_product:hover:before
{
	opacity: 1;
}

.at .at_catalog_piece img
{
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.at .at_catalog_piece .at_content
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.at .at_catalog_piece .at_title
{
	font: 400 17px/1.47em Arial, OpenSansRegular;
}

.at .at_catalog_piece .at_price
{
	font: 400 37px/1 ObiSansMLBold;
}

.at .at_catalog_piece .at_price:after
{
	content: ",-";	
}

.at .at_catalog_piece .at_venzel_btn
{
	position: absolute;
}

.at .at_catalog_piece.at_large .at_venzel_btn{ bottom: 4.5%; left: 4.5%; }
.at .at_catalog_piece.at_medium .at_venzel_btn{ bottom: 9%; left: 4.5%; }
.at .at_catalog_piece.at_small .at_venzel_btn{ bottom: 9%; left: 9%; }

.at .at_catalog_piece.at_large .at_content{ padding: 4.5%; }
.at .at_catalog_piece.at_medium .at_content{ padding: 4.5%; }
.at .at_catalog_piece.at_small .at_content{ padding: 9%; }

.at .at_catalog_group{ width: calc(100% / 3); }
.at .at_catalog_piece.at_large { width: 100%; }
.at .at_catalog_piece.at_medium { width: 100%; }
.at .at_catalog_piece.at_small { width: 50%; }
.at .at_catalog_piece.at_medium .at_square { display: none; }



.at .at_header.at_closed,
.at .at_catalog.at_closed
{
	display: none;
}

.at .at_frame
{
	background: #000;
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9;
	opacity: 0;
}

.at .at_frame.at_opened
{
	display: block;
}

.at .at_frame .at_target
{
	position: absolute;
	overflow: hidden;
	padding-top: 50px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.at .at_frame .at_close_btn
{
	width: 50px;
	height: 50px;
	top: 60px;
	right: 10px;
	position: absolute;
	z-index: 10;
	background: #fff;
	border-radius: 50%;
	cursor: pointer;
}

.at .at_frame .at_close_btn:before,
.at .at_frame .at_close_btn:after
{
	content: "";
	display: block;
	width: 1px;
	height: 30px;
	margin-top: -15px;
	top: 50%;
	left: 50%;
	position: absolute;
	background: #ff7313;
}

.at .at_frame .at_close_btn:before { transform: rotate(45deg); }
.at .at_frame .at_close_btn:after { transform: rotate(-45deg); }

.at .at_frame iframe
{
	width: 100%;
	height: 100%;
	border: 0;
}





@media screen and (max-aspect-ratio: 5/3)
{
	
}




/*1366*/
@media screen and (max-width: 1500px)
{
	.at .at_catalog_group{ width: 50%; }
	.at h1{ font-size: 2.86vw; }
	.at h2{ font-size: 3.0vw; }
}





@media screen and (max-width: 1365px)
{
	.at .at_menu li{ font-size: 1.31vw; }
}




@media screen and (max-width: 1200px)
{
	.at .at_down_btn { bottom: 70px; }
}




@media screen and (max-width: 1068px)
{
	.at .at_menu li{ font-size: 14px; }
}



.at_view { width: 100px; }
@media screen and (max-width: 1024px)
{
	.at_view { width: 75px; }
	.at .at_header_points { display: none; }
	.at .at_header_section.at_1 .at_header_bg{ background-image: url(i/headers/m/bg-1.jpg) }
	.at .at_header_section.at_2 .at_header_bg{ background-image: url(i/headers/m/bg-2.jpg) }
	.at .at_header_section.at_3 .at_header_bg{ background-image: url(i/headers/m/bg-3.jpg) }
	.at .at_header_section.at_4 .at_header_bg{ background-image: url(i/headers/m/bg-4.jpg) }
	.at .at_header_section.at_5 .at_header_bg{ background-image: url(i/headers/m/bg-5.jpg) }
	.at .at_header_section.at_6 .at_header_bg{ background-image: url(i/headers/m/bg-6.jpg) }
	.at .at_header_section.at_7 .at_header_bg{ background-image: url(i/headers/m/bg-7.jpg) }

	.at .at_down_btn_wrap::before {display: none;}
}




@media screen and (max-width: 1023px)
{
	.at_view { width: 50px; }
	.at .at_header{ height: auto; min-height: inherit; }
	.at .at_down_btn { display: none; }
	.at .at_left_btn,
	.at .at_right_btn{ top: 180px; }
	.at h1 span{ display: none; }
	.at h1{ display: inline-block; }
	
	.at .at_header_section
	{
		position: relative;
		width: 100%;
		height: auto;
	}
	
	.at .at_header_pl
	{
		position: relative;
		width: 100%;
		height: auto;
		padding: 20px;
	}
	
	.at .at_header_bg
	{
		position: relative;
		bottom: auto;
		left: auto;
		height: 400px;
	}
	
	.at .at_menu
	{
		height: 30px;
		bottom: auto;
		top: 360px;
		text-align: center;
	}
	
	.at .at_menu ul
	{
		position: relative;
		height: 30px;
		width: auto;
		background: rgba(0,0,0,0.7);
		display: inline-block;
		border-radius: 15px;
		padding: 5px;
	}
	
	.at .at_menu li
	{
		font-size: 0;
		border-radius: 50%;
		width: 10px;
		height: 10px;
		margin: 5px;
	}
	
	.at .at_menu li.at_current:after
	{
		content: "";
		display: block;
		position: absolute;
		width: 10px;
		height: 10px;
		top: 0;
		left: 0;
		border-radius: 50%;
		border:1px solid #fff;
	}
	
	.at .at_menu li:before,
	.at.at_desktop .at_menu li:hover:before
	{
		content: "";
		display: block;
		position: absolute;
		width: 18px;
		height: 18px;
		top: -4px;
		left: -4px;
		opacity: 0;
	}
	
	.at .at_header_section.at_1 .at_header_bg{ background-position: 100% 0%; }
	.at .at_header_section.at_2 .at_header_bg{ background-position: 100% 100%; }
	.at .at_header_section.at_3 .at_header_bg{ background-position: 100% 0%; }
	.at .at_header_section.at_4 .at_header_bg{ background-position: 50% 100%; }
	.at .at_header_section.at_5 .at_header_bg{ background-position: 50% 50%; }
	.at .at_header_section.at_6 .at_header_bg{ background-position: 100% 50%; }
	.at .at_header_section.at_7 .at_header_bg{ background-position: 70% 50%; }
	
	.at .at_book_bg{ height: 25vw; top: calc(400px - 25vw); }
}




/*683*/
@media screen and (max-width: 850px)
{
	.at .at_catalog_group{ width: 100%; }
	.at h1, .at h2{ font-size: 25px; }
}




@media screen and (max-width: 700px)
{
	.at .at_book_bg{ height: 175px; top: 225px; }
}




@media screen and (max-width: 512px)
{
	.at .at_catalog_piece.at_large .at_content,
	.at .at_catalog_piece.at_medium .at_content,
	.at .at_catalog_piece.at_small .at_content{ padding: 20px; }
	
	.at .at_catalog_piece.at_small { width: 100%; }
	.at .at_catalog_piece.at_medium .at_rect { display: none; }
	.at .at_catalog_piece.at_medium .at_square { display: block; }
	
	.at .at_catalog_piece.at_large .at_venzel_btn,
	.at .at_catalog_piece.at_medium .at_venzel_btn,
	.at .at_catalog_piece.at_small .at_venzel_btn{ bottom: 20px; left: 20px; }
}










.at_animate,
.at .at_catalog_piece.at_product:before,
.at .at_venzel_btn span,
.at .at_menu li:before,
.at .at_header_point:after
{
	-webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-property: opacity, color, background, background-color, border-color, transform;
}









